<div class="col-md-offset-4 col-md-4">
  <div class="thumbnail">

    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>

    <%= image_tag(@book.image, {:size => "200x300", :border => '0', :alt => '画像がありません'}) %>

    <%= form_for @book do |f| %>
      <div class="form-group">
        <label class="control-label" for="focusedInput_title">作品名</label>
        <%= f.text_field :title, :class => 'form-control', :id => 'focusedInput_title' %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_author">著者</label>
        <%= f.text_field :author, :class => 'form-control', :id => 'focusedInput_author' %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_publisher">出版社</label>
        <%= f.text_field :publisher, :class => 'form-control', :id => 'focusedInput_publisher' %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_publicationDate">出版日</label>
        <%= f.text_field :publicationDate, :class => 'form-control', :id => 'focusedInput_publicationDate', :value => @book.publicationDate.try(:strftime, "%Y-%m-%d") %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_image">画像URL</label>
        <%= f.text_field :image, :class => 'form-control', :id => 'focusedInput_image' %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_tags">タグ（カンマ区切り）</label></br>
        <%= text_field_tag 'book[tag_list]', @book.tag_list.join(',') , :class => 'form-control', :id => 'focusedInput_tags', "data-role" => "tagsinput" %>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput_description">本の概要</label>
        <%= f.text_area :description, :class => 'form-control', :id => 'focusedInput_description' %>
      </div>

      <p class=show-btn>
      <button type="button" class="btn btn-primary" onclick="submit();">投稿する</button>
        <a href="/" class="btn btn-default" role="button">戻る</a>
      </p>
    <% end %>
  </div>
</div>
