<div class="col-md-offset-4 col-md-4">
  <div class="thumbnail">
    <%= image_tag(@book.image, {:size => "200x300", :border => '0', :alt => '画像がありません'}) %>
    <div class="caption">
      <p class="book-info"><%= @book.title %></p>
      <p class="book-info"><%= @book.author %></p>
      <p class="book-info"><%= @book.publisher %></p>
      <p class="book-info"><%= @book.publicationDate.strftime("%Y年 %m月 %d日") %></p>
      <% @book.tag_list.each do |tag| %>
        <span class="label label-primary"><%= tag %></span>
      <% end %><br></br>
      <p class="book-info"><%= @book.description %></p>
      <p class=show-btn>
        <% if user_signed_in? %>
          <a href="/books/<%= @book.id %>/edit" class="btn btn-primary" role="button">編集</a>
          <a href="/" class="btn btn-default" role="button">戻る</a>
          <%= link_to '削除', book_path(@book.id), method: :delete, class: "btn btn-danger"%>
        <% else %>
          <a href="/" class="btn btn-primary" role="button">戻る</a>
        <% end %>
      </p>
    </div>
  </div>
</div>
